
.header > html , body { 
    width:99%;
    height:98%;
    background: #000000
}


.header > canvas {
    display: block;
}



/* ---- particles.js container ---- */


.header > body {
    background-color: #000000;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 0px;
    position:relative;
}

#particles-js {
    position : absolute;
    width:100%;
    height:100%;
    z-index:-1;
}

.header > h1 {
  color: red;
  font-family: verdana;
  font-size: 200%;
  opacity: 0.5;
  text-align: center;
}


.header > p {
  color: green;
  font-family: courier;
  font-size: 160%;
  text-align: center;
}

.header > ifram {
      text-align: center
}

.header > div {
    text-align:center;
    width:100%;
}
.header > div > iframe{
     width: 900px;
    position: relative;
  }
  
